body{
    background-color: black;
    color: white;
    font-family: Cascadia Code;
    font-size: 10px;
}

#interface{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#texte{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p{
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    background-color: royalblue;
    border-radius: 10px;
    width: 150px;
}
#interface {
    display: none;
}
#snake{
    justify-content: center;
    background-color: greenyellow;
}