body{
    background-color: #10101f;
    color: #424885;
    font-family: 'Segoe UI Black', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.light-mode{
    background-color: white;
    color: black;
    font-family: 'Segoe UI Black', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.mainMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.interface{
    margin-top: 40px;
    display: none;
}

.interface-var{
    height: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scoreTexte, .highscoreTexte, .goalTexte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.texte-light{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    color: black;
}

#score, #highscore, #goal {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}

.settings{
    display: none;
    flex-direction: row;
    justify-content: center;
}

.levels{
    display: none;
}

.credits{
    display: none;
    flex-direction: row;
    justify-content: center;
}

#case1, #case2{
    display: column;
    margin: 20px;
    border: 2px solid;
    border-radius: 30px;
    padding-bottom: 20px;
}

.case img{
    border-radius: 100%;
}

.case p{
    font-size: 30px;
    margin-top: 5px;
}

.score{
    font-size: 45px;
    margin-top: 5px;
}

.buttons, .guideInfo, .author, .musics{
    display: flex;
    flex-direction: column;
    width: 40vw;
}

button{
    background-color: #525787;
    border: none;
    font-family: 'Segoe UI Black', Tahoma, Geneva, Verdana, sans-serif;
    color: #10101f;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
}

button:hover{
    background-color: #6d79e8;
}

.button-light{
    background-color: black;
    border: none;
    font-family: 'Segoe UI Black', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
}

.button-light:hover{
    background-color: rgb(81, 81, 81);
}

.volume{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.guide, .levels, .credits{
    display: none;
    justify-content: center;
}

.guide:nth-child(1){
    display: block;
    width:40vw;
}
